{% extends "index.html" %}
{% block details %}
    

<div class="page-header">
    <h1>
        物资信息 <small>第三季度集采</small>
    </h1>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>物资链接</th>
            <th>物资名称</th>
            <th>物资数量</th>
            <th>单价</th>
            <th>总价</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>
                {{ item.storage_id }}
            </td>
            <td>
                {{ item.storage_link }}
            </td>
            <td>
                {{ item.storage_name }}
            </td>
            <td>
                <input type="text" id='storage_num' name="storage_num" class="form-control" placeholder="数量"
                    aria-describedby="sizing-addon3">
            </td>
            <td>
                {{ item.storage_price }}
            </td>
            <td>
                <input type="text" id='storage_total' name="storage_total" class="form-control" placeholder="总价"
                    aria-describedby="sizing-addon3">
            </td>
            <td>
                <form action="/storage/">
                    <div class="btn-group" role="group" aria-label="...">
                        <button onclick="storage_delete({{ item.storage_id }})" type="button" class="btn btn-default">删除
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        
        {% endfor %}
        <tr>
            <td>
                
            </td>
            <td>
                <input type="text" id='goods_name' name="goods_name" class="form-control" placeholder="物资链接"
                        aria-describedby="sizing-addon3">
            </td>
            <td>
                <input type="text" id='goods_num' name="goods_num" class="form-control" placeholder="物资名称"
                        aria-describedby="sizing-addon3">
            </td>
            <td>
                <input type="text" id='goods_sort' name="goods_sort" class="form-control" placeholder="物资数量"
                        aria-describedby="sizing-addon3">
            </td>
            
            <td>
                <input type="text" id='goods_remark' name="goods_remark" class="form-control" placeholder="单价"
                        aria-describedby="sizing-addon3">
            </td>
            <td>
                <input disabled='disabled' type="text" id='goods_remark' name="goods_remark" class="form-control" placeholder="总价"
                        aria-describedby="sizing-addon3">
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button onclick="send()" type="button" class="btn btn-default">增加</button>
                </div>
            </td>
        </tr>
    </tbody>             
</table>
  

<script type="text/javascript">
    function send() {
        sendData = {
            "goods_id": document.getElementById("goods_id").value,
            "goods_name": document.getElementById("goods_name").value,
            "goods_num": document.getElementById("goods_num").value,
            "goods_sort": document.getElementById("goods_sort").value,
            "goods_remark": document.getElementById("goods_remark").value,
        };
        $.ajax({
            traditional: true,
            url: "/goods/",
            type: 'get',
            data: sendData,
            dataType: "json",
            success: function (data) {
                location.reload()
            }
        })
    }

    function goods_delete(goods_id) {
        sendData = {
            "goods_id": goods_id,
        };
        $.ajax({
            traditional: true,
            url: "/goods_delete/",
            type: 'get',
            data: sendData,
            dataType: "json",
            success: function (data) {
                location.reload()
            }
        })
    }
</script>

{% endblock %}

